.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25rem;
}
.board__cells {
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(var(--board-rows, 5), 1fr);
    grid-template-columns: repeat(var(--board-cols, 5), 1fr);
    gap: 0.2rem;
}

.controls {
    min-height: 2.5rem;
    margin-top: 0.5rem;
}

.controls > * {
    margin-left: 0.5rem;
}