.button-select {
    display: inline-flex;
    flex-direction: row;
}

.button-select__option {
    margin-left: 0.25rem;
}

.button-select__option--selected,
.button-select__option--selected:hover {
    background-color: var(--color-bg-3);
    border: 0.2rem solid var(--color-second-borders-2);
}

.button-select__option:not(.button-select__option--selected):hover {
    border: 0.2rem dashed var(--color-second-borders-2);
} 