:root {
  --color-primary-lightest: hsl(264, 85%, 92%);
  --color-primary-lighter:  hsl(264, 71%, 77%);
  --color-primary-light:    hsl(264, 63%, 66%);
  --color-primary-lighty:   hsl(264, 45%, 51%);
  --color-primary:          hsl(264, 45%, 37%);
  --color-primary-darky:    hsl(264, 43%, 27%);
  --color-primary-dark:     hsl(264, 35%, 17%);
  --color-primary-darker:   hsl(264, 30%, 12%);
  --color-primary-darkest:  hsl(264, 25%, 04%);

  --color-second-lightest: hsl(200, 85%, 92%);
  --color-second-lighter:  hsl(200, 71%, 77%);
  --color-second-light:    hsl(200, 63%, 66%);
  --color-second-lighty:   hsl(200, 45%, 51%);
  --color-second:          hsl(200, 45%, 37%);
  --color-second-darky:    hsl(200, 43%, 29%);
  --color-second-dark:     hsl(200, 35%, 17%);
  --color-second-darker:   hsl(200, 30%, 12%);
  --color-second-darkest:  hsl(200, 25%, 04%);

  --color-third-lightest: hsl(60, 85%, 92%);
  --color-third-lighter:  hsl(60, 71%, 77%);
  --color-third-light:    hsl(60, 63%, 66%);
  --color-third-lighty:   hsl(60, 45%, 51%);
  --color-third:          hsl(60, 45%, 37%);
  --color-third-darky:    hsl(60, 43%, 29%);
  --color-third-dark:     hsl(60, 35%, 17%);
  --color-third-darker:   hsl(60, 30%, 12%);
  --color-third-darkest:  hsl(60, 25%, 04%);
}

:root {
  --color-bg: var(--color-primary-darkest);
  --color-bg-2: var(--color-primary-dark);
  --color-bg-3: var(--color-primary-darky);

  --color-font: var(--color-primary-lightest);
  --color-borders: var(--color-primary-darker);
  --color-borders-2: var(--color-primary-dark);

  --color-second-borders: var(--color-second-darky);
  --color-second-borders-2: var(--color-second);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-font);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-bg);

  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem;
  background-color: var(--color-bg-2);
  border: var(--color-borders) solid 0.2rem;
}

button:hover {
  background-color: var(--color-bg-3);
  border-color: var(--color-borders-2);
}